<% include partials/header  %>

<div class="container" style='margin-top:25px;'>
  <div class="row">
    <div class="col-md-3">
      <h2>yelpCamp</h2>
      <div class="list-group">
        <a href="#" class='list-group-item active'>Category 1</a>
        <a href="#" class='list-group-item'>Category 2</a>
        <a href="#" class='list-group-item'>Category 3</a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="thumbnail big-thumbnail">
        <img class='img-responsive'src='<%= id.image%>'>
        <div class="caption">
          <h2 class='pull-right'>9.00/night</h2>
          <h2><a href='#a'><%= id.name %></a></h2>
          <p><%= id.description %></p>
          <hr>
          <p >Camp Added By: <em><strong><%= id.author.username %></strong></em></p>
          <a href="/campgrounds/<%= id._id %>/edit" class='btn btn-warning'>EDIT</a>
          <form style='margin: 0; display: inline-block;'class="" action="/campgrounds/<%= id._id %>?_method=DELETE" method="post">
            <button class='btn btn-danger'type="submit" name="button">DELETE</button>
          </form>

        </div>

    </div>


        <div id='comment-box' class='well'>
          <a href="/campgrounds/<%= id._id %>/newComments" class='btn btn-lg btn-info'>Add A New Comment</a>

          <hr>
          <% id.comments.forEach(function(comment){  %>
            <div class='row'>
              <div class='col-md-12'>
                <p>***** <strong><%= comment.author %></strong>
                 <span class='pull-right'>10 Days Ago</span>
                </p>
                <p><%= comment.text %></p>
              </div>
            </div>
            <%  })  %>
          </div>

        </div>
      </div>
    </div>

    <% include partials/footer %>
