<% include partials/header  %>

<h1>This is the Show Page</h1>

<p>
  and this is the id: <%= id._id %>
  <br>and the name is <%= id.name %>
</p>

<p>
  <%= id.description %>
</p>

<img src='<%= id.image%>'>

<ul>
  <% id.comments.forEach(function(comment){  %>
    <div>
     <li><%= comment.text %></li>
     <li>- <%= comment.author %></li>
    </div>
<%  })  %>
</ul>

<% include partials/footer %>
